.App {
  text-align: center;
  background-color: #e3eef3;
  min-height: 100vh;
  background: #060619;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

#root {
  min-height: 100vh;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0;
  background: #000;
  border-right: 0.1px solid rgba(255,255,255,0.5);
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 150px;
  max-width: 90%;
  background: #000;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  margin-bottom: 0px
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/******************************************************************************/
/* Navbar */
.appNav {
  margin: 0 16px 0 70px;
}

.rightNav {
  float: right;
}

.pageButtonBold {
  font-weight: 800;
}

.buttonContainer {
  background-color: #fff;
  border-radius: 16px;
  display: inline-block;
}

.buttonContainerTop {
  margin-left: 175px;
}

.connectButton {
  background-color: rgb(253, 234, 241) !important;
  border-radius: 16px !important;
  border: 1px solid #fff !important;
  color: rgb(213, 0, 102) !important;
}

.connectButtonContainer {
  display: inline-block;
  margin-right: 10px;
}

.connectButton:hover {
  border-color: rgb(213, 0, 102) !important;
}

.hoverBold:hover {
  font-weight: 800;
}

/******************************************************************************/
/* Swap Container */
.appBody {
  height: 100%;
  padding-top: 200px;
}

.swapContainer {
  background-color: rgb(203, 231, 240);
  width: 50%;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  border: 1px solid #fff;
  padding: 6px;
}

.swapHeader {
  text-align: left;
  padding: 4px 20px 0px 20px;
}

.swapText {
  color: #000;
  font-size: 20px;
}

.gearContainer {
  float: right;
  font-size: 22px
}

/******************************************************************************/
/* Currency Input */
.currencyInput {
  width: 100%;
  background-color: rgb(217, 236, 242);
  margin: 10px !important;
  padding: 10px;
  border-radius: 20px;
}

.currencyInput:hover {
  border-color: #65cdee !important;
  border: 1px solid;
}

::placeholder {
  opacity: 0.25;
}

.numberContainer {
  text-align: left;
}

.spinnerContainer {
  height: 25px;
  padding-top: 10px;
  /* line-height: 55px; */
}

.currencyInputField {
  font-size: 28px;
  display: inline-block;
  width: 100%;
  border: none;
  background-color: rgb(217, 236, 242);
}

.tokenContainer {
  text-align: right;
}

.tokenName {
  font-size: 28px;
  display: block;
  color: #000;
}

.balanceContainer {
  display: block;
}

.balanceAmount {
  width: 100%;
  font-size: 16px;
  display: inline;
  color: #000;
}

/******************************************************************************/
/* Ratio */
.ratioContainer {
  text-align: left;
  margin-left: 10px;
  height: 28px;
}


/******************************************************************************/
/* Swap Button */
.swapButtonContainer {
  margin: 10px;
}

.swapButton {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  cursor: pointer
}

/******************************************************************************/
/* Config Modal */

.modaly {
  position: fixed;
  left: 0;
  top: -510px;
  right: -110px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);

}

.modal-content {
  background-color: #fff;
  width: 300px !important;
  padding: 0px 15px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}

.modalTitle {
  margin: auto;
}

.titleHeader {
  margin-left: -12px;
}

.labelField {
  padding-left: 0px !important;
}

.fieldContainer {
  padding-left: 0px !important;
}

.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}

.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}